.logo_avatar {
  max-width: 80px;
  height: auto;
  top: 20px !important;
}
.dever_name {
  position: absolute;
  bottom: 30px;
  font-size: 13px;
  left: 35px;
  right: 0;
  margin: 0 auto;
}

.logo:hover {
  cursor: pointer;
}

.intro_sologan {
  position: absolute;
  bottom: 25%;
  width: 100%;
  line-height: 2;
  text-align: center;
  font-style: italic;
  font-size: 15px;
}
#lightningSvg {
  position: absolute;
  z-index: 999;
}
#svg {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 0;
}
